environments:
  dev:
    values:
      - values/dev.yml
      - secrets/dev-secret.yml
  stage:
    values:
      - values/stage.yml
      - secrets/stage-secret.yml
---
releases:
  - name: nginxdemo
    namespace: "{{ .Values.namespace }}"
    chart: nginxdemo
    chartPath: ./charts/nginxdemo
    createNamespace: true